/*     
    font-family: 'MuseoModerno', cursive;
    font-family: 'Roboto', sans-serif;
*/
body {
    background-color: black;
}
.body__container {
    width: 1040px;
    margin: 0 auto;
}
/* Меню */
.menu {
    padding-top: 60px;
    padding-bottom: 40px;
    position: fixed;
    width: 1040px;
    background-color: black;
}
ul.menu__items{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
li.menu-item a {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: white;
    letter-spacing: 2px;
    margin-left: 50px;
}
li.menu-item a:hover {
    color: #FFE600;
    transition: all 0.3s ease 0s;
}
/*-------------*/
/* Велком */
.block__welcome {
    padding-top: 200px;
}
.welcome__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.welcome__image img{
    width: 80%;
}
.welcome__title h1 {
    font-size: 64px;
    font-weight: 700;
    font-family: 'MuseoModerno', cursive;
    color: #FFE600;
    text-align: right;
}
.welcome__subtitle p {
    font-size: 24px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: white;
    letter-spacing: 2px;
    line-height: 30px;
    text-align: right;
    margin-top: 20px;
    width: 400px;
    float: right;
}
.welcome__footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-top: 100px;
    padding-bottom: 200px;
}
.welcome__conditions {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    color: white;
    letter-spacing: 1.5px;
}
.welcome__conditions a{
    color: #FFE600;
}
.welcome__conditions a:hover {
    border-bottom: #FFE600 1px solid;
    transition: 0.3s ease 0s;
}
.welcome__social {
    display: flex;
    align-items: flex-end;
}
.welcome__vk a {
    font-size: 20px;
    color: white;
}
.welcome__inst a{
    margin-left: 10px;
    font-size: 20px;
    color: white;
}
.welcome__vk a:hover {
    color: #FFE600;
    transition: 0.3s ease 0s;
}
.welcome__inst a:hover {
    color: #FFE600;
    transition: 0.3s ease 0s;
}
/*-----------*/
/* условия */

/*-----------------*/
/* контакты */
.block__contact {
    margin-top: 200px;
    padding-bottom: 200px;
}
.contact__title h2{
    font-size: 64px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #FFE600;
    text-align: center;
}
.contact__subtitle p {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    margin-top: 30px;
    letter-spacing: 2px;
}
.contact__subtitle p span {
    color: #FFE600;
}
.contact__flex {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 70px;
}
.contact__calendar {
    width: 350px;
    height: 230px;
    background: white;
    border-radius: 10px;
}
input.contact__input {
    width: 350px;
    height: 50px;
    background: white;
    color: black;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    padding-left: 10px;
}
button.contact__button {
    width: 300px;
    height: 50px;
    background-color: #FFE600;
    color: black;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 3px;
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    margin-top: 30px;
}
.contact-item {
    margin-bottom: 25px;
}
.contact__items {
    margin: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.contact__text p {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: white;
    text-align: center;
    margin-top: 50px;
    letter-spacing: 2px;
}
.contact__text p span {
    color: #FFE600;
}
.contact__social {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}
.contact__icon-vk a {
    font-size: 24px;
    text-decoration: none;
    color: white;
    margin-right: 10px;
}
.contact__icon-inst a {
    font-size: 24px;
    text-decoration: none;
    color: white;
    margin-left: 10px;
}
.contact__icon-vk a:hover {
    color: #FFE600;
}
.contact__icon-inst a:hover {
    color: #FFE600;
}
/*------------------*/
/* Условия */
.conditions__title h1 {
    font-size: 64px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: #FFE600;
    margin-top: 50px;
}
.conditions__subtitle p {
    margin-top: 50px;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: white;
}
.conditions__subtitle span {
    color: #FFE600;
}
.condition-item p {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    color: white;
    margin-top: 20px;
    padding-left: 20px;
    letter-spacing: 2px;
    line-height: 30px;
}
.condition-item span {
    color: #FFE600;
}
.condition-item {
    position: relative;
}
.condition-item p::before {
    content: '';
    position: absolute;
    left: 0;
    top: 14px;
    width: 10px;
    height: 2px;
    border-radius: 50%;
    background-color: #FFE600;
}

/*------------------*/