/**
    font-family: 'MuseoModerno', cursive;
    font-family: 'Roboto', sans-serif;
**/
body {
    color: white;
}
.page {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 1;
}
.page__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

}
.page__screen {
    background: black;
}
.screen {
    flex: 1 0 100%;
    position: relative;
}

.page__scroll {
    display: none;
}
.page__pagination {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translate(0px, -50%);
    display: flex;
    flex-direction: column;
    z-index: 2;
}
.page__bullet {
    width: 14px;
    height: 14px;
    cursor: pointer;
    background-color: white;
    margin: 20px 0;
    border-radius: 50%;
    transition: background-color 0.3s ease 0s;
}
.page__bullet_active {
    background-color: #FFE600;
}
/*-----------------------------*/
.header {
    position: fixed;
    z-index: 50;
    width: 100%;
    top: 0;
    left: 0;
}
.menu__body {
    width: 1040px;
    margin: 0 auto;
    padding-top: 100px;
}
.menu__items {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.menu-item {
    margin-left: 50px;
}
.menu-item a{
    font-size: 14px;
    font-weight: 700;
    color: white;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}
.menu-item a:hover {
    color: #FFE600;
    transition: 0.5s;
}
/*--------------------------*/
.main__body {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.main__body_container {
    margin: 0 auto;
    width: 1040px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main__body_image {
    width: 50%;
}
.main__image {
    width: 100%;
}
.main__image img {
    width: 100%;
}
.main__body_conditions {
    width: 1040px;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 100px;
}
.main__body_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main__social_icon {
    display: flex;
    align-items: center;
}
.main__social_item {
    margin-left: 10px;
}
.main__title h1 {
    font-size: 64px;
    font-weight: 700;
    font-family: 'MuseoModerno', cursive;
    color: #FFE600;
}
.main__subtitle {
    padding-top: 20px;
    text-align: right;
}
.main__subtitle p{
    font-size: 24px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: white;
}
.main__conditions p {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: white;
}
a.conditions__style {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    color: #FFE600;
    text-decoration: underline;
}
.main__social_item a {
    font-size: 24px;
    color: white;
}
.main__social_item a:hover {
    color: #FFE600;
    transition: 0.5s;
}
@media screen and (max-width: 1200px) {
    .menu__body {
        width: 800px;
    }
    .main__body_container {
        width: 800px;
    }
    .main__body_conditions {
        width: 800px;
    }
}
@media screen and (max-width: 980px) {
    .menu__body {
        width: 700px;
    }
    .main__body_container {
        width: 700px;
    }
    .main__body_conditions {
        width: 700px;
    }
    .main__title h1 {
        font-size: 48px;
    }
    .main__subtitle {
        padding-top: 10px;
    }
    .main__subtitle p{
        font-size: 18px;
    }
}
@media screen and (max-width: 880px) {
    .menu__body {
        padding-top: 30px;
        width: 500px;
    }
    .main__body_container {
        width: 500px;
    }
    .main__body_conditions {
        width: 500px;
    }
    .main__title h1 {
        font-size: 48px;
    }
    .main__subtitle {
        padding-top: 10px;
    }
    .main__subtitle p{
        font-size: 18px;
    }
    .page__pagination {
        right: 30px;
    }
    .page__bullet {
        width: 10px;
        height: 10px;
    }
    .main__body_conditions {
        bottom: 30px;
    }
}
@media screen and (max-width: 660px) {
    .menu__body {
        width: 300px;
    }
    .menu__items {
        justify-content: center;
    }
    .menu-item {
        margin-left: 20px;
    }
    .main__body_container {
        width: 500px;
        flex-direction: column;
        justify-content: center;
    }
    .main__body_conditions {
        width: 500px;
    }
    .main__title {
        text-align: center;
        padding-top: 10px;
    }
    .main__title h1 {
        font-size: 48px;
    }
    .main__subtitle {
        padding-top: 10px;
        text-align: center;
    }
    .main__subtitle p{
        font-size: 18px;
    }
    .main__body_flex {
        flex-direction: column;
    }
    .main__social_icon {
        padding-top: 20px;
    }
    .main__conditions {
        width: 300px;
        text-align: center;
    }

}
@media screen and (max-width: 505px) {
    .menu__body {
        width: 200px;
    }
    .menu__items {
        justify-content: center;
    }
    .menu-item {
        margin-left: 20px;
    }
    .main__body_container {
        width: 200px;
        flex-direction: column;
        justify-content: center;
    }
    .main__body_image {
        width: 100%;
    }
    .main__body_conditions {
        width: 200px;
    }
    .main__title {
        text-align: center;
        padding-top: 10px;
    }
    .main__title h1 {
        font-size: 48px;
    }
    .main__subtitle {
        padding-top: 10px;
        text-align: center;
    }
    .main__subtitle p{
        font-size: 18px;
    }
    .main__body_flex {
        flex-direction: column;
    }
    .main__social_icon {
        padding-top: 20px;
    }
    .main__conditions {
        width: 200px;
        text-align: center;
    }
    .page__pagination {
        right: 15px;
    }
    .page__bullet {
        width: 7px;
        height: 7px;
    }
}
/*---------------------------*/
.condition__container {
    width: 1040px;
    margin: 0 auto;
}
.condition__body {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.condition__warning {
    padding-top: 10px;
}
.condition__body_items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}
.condition__block {
    width: 210px;
    height: 150px;
    border-radius: 30px;
    background-color: white;
    position: relative;
    margin-right: 20px;
}
.condition-item {
    width: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.condition__title h2 {
    font-size: 64px;
    font-weight: 700;
    color: #FFE600;
    font-family: 'Roboto', sans-serif;
}
.condition__subtitle p {
    font-size: 24px;
    font-weight: 700;
    color: white;
    font-family: 'Roboto', sans-serif;
}
.condition-item p {
    font-size: 14px;
    font-weight: 700;
    color: black;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.condition__warning p{
    font-size: 14px;
    font-weight: 700;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
span.warning__inst_link a{
    text-decoration: underline;
    color: #FFE600;
}
@media screen and (max-width:1100px) {
    .condition__container {
        width: 1000px;
    }
    .condition__body {
        left: 50%;
        transform: translate(-50%, -50%);
    }
}
@media screen and (max-width:770px) {
    .condition__container {
        width: 300px;
    }
    .condition__title {
        width: 300px;
        margin: 0 auto;
        text-align: center;
    }
    .condition__subtitle {
        width: 300px;
        margin: 0 auto;
        text-align: center;
    }
    .condition__body_container {
        width: 300px;
        margin: 0 auto;
    }
    .condition__body_items {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .condition__block {
        margin-top: 10px;
        margin-right: 0px;
    }
    .condition__body_items:nth-child(2) {
        display: none;
    }
}
@media screen and (max-width:600px) {
    .condition__container {
        width: 200px;
    }
    .condition__title {
        width: 200px;
        margin: 0 auto;
        text-align: center;
    }
    .condition__subtitle {
        width: 200px;
        margin: 0 auto;
        text-align: center;
    }
    .condition__title h2 {
        font-size: 36px;
    }
    .condition__subtitle p {
        font-size: 14px;
    }
    .condition__body_container {
        width: 200px;
        margin: 0 auto;
    }
    .condition__body_items {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 5px;
    }
    .condition__block {
        margin-top: 5px;
        margin-right: 0px;
        width: 190px;
        height: 100px;
    }
    .condition__body_items:nth-child(2) {
        display: none;
    }
    .condition__warning p:nth-child(2) {
        display: none;
    }
}
/*----------------------------*/




/* АНИМАЦИЯ */
.main__title._anim-item {
    opacity: 0;
    transform: translateY(100%);
    transition: all 1s ease 1s;
}
.main__title._anim-item._anim-active {
    opacity: 1;
    transform: translateY(0);
}
.main__subtitle._anim-item {
    opacity: 0;
    transform: translateX(50%);
    transition: all 1s ease 1.5s;
}
.main__subtitle._anim-item._anim-active {
    opacity: 1;
    transform: translateX(0);
}
.main__body_conditions._anim-item {
    opacity: 0;
    transform: translateX(-100%);
    transition: all 1s ease 2s
}
.main__body_conditions._anim-item._anim-active {
    opacity: 1;
    transform: translateX(-50%);
}
.main__body_image._anim-item {
    opacity: 0;
    transform: translate(-2%, 2%);
    transition: all 1s ease 0.2s;
}
.main__body_image._anim-item._anim-active {
    opacity: 1;
    transform: translate(0, 0);
}
/*-----------------*/